.inp{
    height: 70px;
    background-color: darkgreen;
    border-style: double;
    text-align: right;
    
    width: 460px;
    
}
.tb{
    border-style: inset;
    background-color: rgb(129, 127, 127);
    
}
.btn{
    background-color: rgb(75, 73, 73);
    height: 40px;
    width: 60px;
    border-style: outset;
    padding: 10px;
    margin: 10px;
}
.eq{
    
    background-color: cornflowerblue;
}
.btn:hover{
    background-color: darksalmon;
    transition-delay: 4ms;
    
}
.ac{
    background-color: crimson;
}