.btn{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 2px solid;
}
.btn2:hover{
    background-color: coral;
}
.btn2{
    background-color: darkgoldenrod;
    border: 2px solid;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    
}
i{
    font-size: 50px;
}
    

#cross, #check{
    visibility: hidden;
}
.dem{
    display: inline-block;
    justify-content: space-evenly;
    
}
.h{
    border-style: outset solid;
    font-style: italic;
    background-color: saddlebrown;
    color: beige;
    width: 50px;
}