.filed-head{
    font-size: 12px;
    font-weight: bold;
    padding: 9px 10px;
    letter-spacing: 0.002em;
    text-transform: uppercase;
    box-sizing: border-box;
}
.pr-int{
    width: 100px;
}
body{
    font-size: 10PX;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.8995973389355743) 100%);
}
@font-face {
    font-family: 'Trajan Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Regular'), url('TrajanPro-Regular.woff') format('woff');
    }
    .font-1{
        font-family: se;
    }
.pr-int2{
    width: 70px;
}
.sedan, .suv, .cross, .hatch{
    text-decoration: none;
    color: black;
}
.k, .l, .i, .r, .p{
    text-decoration: none;
    color: black;
}
.name{
    height: 38px;
    
}
